body {
  background-color: #6E8BBF
}

h1,
h2,
h3,
h4 {
    color: #EF8A1C;
    text-align: left;
    font-size: 30px;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

ul {
    font-family: "Times New Roman";
    font-size: 20px;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
